<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/DarkTheme.css}"/>
</head>
<body>
<th:block th:include="studentMenu"></th:block>
<div class="form-container" xmlns:th="http://www.thymeleaf.org">
    <h1>Contact Information</h1>
    <hr>
    <form th:object="${contactInfo}" method="POST">
        <label>Student ID</label>
        <input type="text" th:field="*{idStudent}" readonly/>
        <br/><br/>

        <label>Address</label>
        <input type="text" th:field="*{address}" pattern="[a-zA-Z0-9 .-]+"{30}/>
        <br/><br/>

        <label>Phone number</label>
        <input type="text" th:field="*{phoneNumber}" pattern="[0-9]+"{10}/>
        <br/><br/>

        <label>Email address</label>
        <input type="text" th:field="*{emailAddress}" pattern="[A-Za-z0-9_@.<>&$]+"{30}/>
        <br/><br/>

        <input type="submit" name = "action" value="Create"/>
        <input type="submit" name = "action" value="Update"/>
        <input type="submit" name = "action" value="Delete"/>
    </form>
</div>
</body>
</html>