<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/DarkTheme.css}"/>
</head>
<body>
<th:block th:include="studentMenu"></th:block>
<div class="form-container" xmlns:th="http://www.thymeleaf.org">
    <form th:object="${student}" method="GET">
        <h2>Welcome!</h2>
        <h3>You are logged in to student profile</h3>

        <input type="hidden" th:field="*{studentid}" readonly/>
        <br/><br/>
    </form>
</div>
</body>

</html>

