<div class="menu-container" xmlns:th="http://www.thymeleaf.org">
    <a th:href="@{/studentProfile/personalInformation}" style="color:#c6c9ce ; font-size:20px" >Personal Information </a>
    <a th:href="@{/studentProfile/studentInformation}" style="color:#c6c9ce ; font-size:20px">Student Information</a>
    <a th:href="@{/studentProfile/contactInformation}" style="color:#c6c9ce ; font-size:20px">Contact Information</a>
    <a th:href="@{/studentProfile/enrollmentInformation}" style="color:#c6c9ce ; font-size:20px">Enrolled Classes</a>
    <a th:href="@{/}" style="color:#c6c9ce ; font-size:20px">Log out</a>
</div>