<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Student Profiles</title>
    <link rel="stylesheet" type="text/css" th:href="@{/DarkTheme.css}"/>
</head>
<body>
<th:block th:include="adminMenu"></th:block>
<div>
    <div class="form-container" xmlns:th="http://www.thymeleaf.org">
        <h2>Student Profiles</h2>
        <hr>
        <table  align="center">
            <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Group</th>
                <th>Scholarship</th>
                <th>Average</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="studenprofile : ${ studentProfileList }">

                <td th:text="${ studenprofile.idStudent}"></td>
                <td th:text="${ studenprofile.firstName}"></td>
                <td th:text="${ studenprofile.lastName}"></td>
                <td th:text="${ studenprofile.group}"></td>
                <td th:text="${ studenprofile.scholarShipState}"></td>
                <td th:text="${ studenprofile.average}"></td>
            </tr>
            </tbody>
        </table>
        <hr>
        <br/><br/><br/><br/>
        <form th:object="${studentProfile}" method="POST">
            <p>To create a new user enter: student ID,first name and last name</p>
            <p>To create a new student profile you need to provide: group, scholarship and average</p>

            <label>Student ID</label><br/>
            <input type="text" th:field="*{idStudent}" pattern="[0-9]+"{8}/>
            <br/><br/>

            <label>First Name</label><br/>
            <input type="text" th:field="*{firstName}" pattern="[a-zA-Z ]+"{15}/>
            <br/><br/>

            <label>Last Name</label><br/>
            <input type="text" th:field="*{lastName}" pattern="[a-zA-Z ]+"{15}/>
            <br/><br/>

            <label>Group</label><br/>
            <input type="text" th:field="*{group}" pattern="[0-9]+"{8}/>
            <br/><br/>

            <label>Scholarship</label><br/>
            <input type="text" th:field="*{scholarShipState}" pattern="[A-Z]+"{10}/>
            <br/><br/>

            <label>Average</label><br/>
            <input type="text" th:field="*{average}" pattern="[0-9.]+"/>
            <br/><br/>

            <input type="submit" name = "action" value="Create"/>
            <input type="submit" name = "action" value="Update"/>
            <input type="submit" name = "action" value="Delete"/>
        </form>
    </div>
</div>
</body>
</html>