body {
    background: #383a3d;
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 300;
    overflow-x: hidden;
}

/*--------------
    HEADINGS
--------------*/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: aliceblue;
}

h1 {
    font-size: 62px;
    padding-bottom: 14px;
    margin-bottom: 0px;
}

h2 {
    font-size: 32px;
}

h2, h3 {
    padding-bottom: 6px;
}

h3 {
    font-size: 26px;
}

h4 {
    color: #666;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 2px;
}

p {
    color: #777;
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.2px;
}


/*--------------
    INPUTS
--------------*/
input[type=text] {
    background-color: #f1f1f1;
    color: #555555;
    border: 2px solid #555555;
    border-radius: 4px;
}

input[type=text]:focus {
    border: 2px solid #26daff;
    border-radius: 4px;
}

input[type=password] {
    background-color: #f1f1f1;
    color: #555555;
    border: 2px solid #555555;
    border-radius: 4px;
}

input[type=password]:focus {
    border: 2px solid #26daff;
    border-radius: 4px;
}

input[type=email] {
    background-color: #f1f1f1;
    color: #555555;
    border: 2px solid #555555;
    border-radius: 4px;
}

input[type=email]:focus {
    border: 2px solid #26daff;
    border-radius: 4px;
}

input[type=button] {
    background-color: white;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border: 2px solid #555555;
    border-radius: 4px;
}

input[type=button]:hover {
    background-color: #7b7c7f;
    color: white;
}

input[type=submit] {
    background-color: white;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border: 2px solid #555555;
    border-radius: 4px;
}

input[type=submit]:hover {
    background-color: #7b7c7f;
    color: white;
}

/*--------------
    CONTAINERS
--------------*/

.header-container {
    text-align: left;
    border-bottom: 1px solid #ccc;
    position: relative;
    background: #444547;
    color: white;
}

.form-container {
    text-align: left;
    background: #444547;
    color: #d0d5e0;
    padding: 5px 10px 10px 5px;
}

.header-container .header-bar {
    position: absolute;
    right: 10px;
    bottom: 20px;
}

.header-container .header-bar a {
    color: white;
    font-size: 20px;
}

.footer-container {
    text-align: center;
    margin-top: 10px;
    padding: 5px 0px 0px 0px;
    border-top: 1px solid #ccc;
}

.menu-container {
    text-align: right;
    margin: 10px 5px;
}

.menu-container a {
    margin: 5px 5px 5px 10px;
    color: #004d99;
    font-weight: bold;
    text-decoration: none;
}